<div class="col-md-12">
    <form autocomplete="off" [formGroup]="Mform" class="kt-form kt-form--group-seperator-dashed">
	


 		<div class="row ">
			<div  class="col-md-2 form-group">
			<strong>Urine Tests</strong>
			</div>
			</div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Macroscopic appearance
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSmacroscopic_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSmacroscopic_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSmacroscopic_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSmacroscopic_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSmacroscopic_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    pH
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSpH_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSpH_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSpH_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSpH_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSpH_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Glucose
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSGlucose_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSGlucose_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSGlucose_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSGlucose_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSGlucose_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Ketones
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_Ketones_before_medication" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_Ketones_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_Ketones_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_Ketones_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_Ketones_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Specific gravity
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSGravity_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSGravity_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSGravity_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSGravity_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSGravity_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Nitrites
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSNitrite_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSNitrite_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSNitrite_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSNitrite_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSNitrite_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    White blood cells

                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSWBC_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSWBC_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSWBC_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSWBC_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSWBC_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Protein
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSProtein_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSProtein_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSProtein_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSProtein_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSProtein_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Bilirubin
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSBilirubin_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSBilirubin_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSBilirubin_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSBilirubin_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSBilirubin_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Blood
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSBlood_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSBlood_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSBlood_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSBlood_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSBlood_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Leukocyte esterase
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSLeukocyte_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSLeukocyte_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSLeukocyte_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSLeukocyte_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSLeukocyte_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Microscopy (cells)
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSMicroscopy_cells_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSMicroscopy_cells_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSMicroscopy_cells_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSMicroscopy_cells_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSMicroscopy_cells_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Microscopy (casts)
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSMicroscopy_casts_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSMicroscopy_casts_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSMicroscopy_casts_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSMicroscopy_casts_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSMicroscopy_casts_result_after12" />
                </mat-form-field>
            </div>

        </div>
        <div class="row ">
            <div class="col-md-2 form-group">
                <label><br>
                    Microscopy (crystals)
                </label>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Before medication treatment (if available)"
                           formControlName="BIO_UTSMicroscopy_crystals_before" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 3 months"
                           formControlName="BIO_UTSMicroscopy_crystals_result_after3" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 6 months"
                           formControlName="BIO_UTSMicroscopy_crystals_result_after6" />
                </mat-form-field>
            </div>
            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 9 months"
                           formControlName="BIO_UTSMicroscopy_crystals_result_after9" />
                </mat-form-field>
            </div>

            <div class="col-md-2  form-group">
                <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Results after 12 months"
                           formControlName="BIO_UTSMicroscopy_crystals_result_after12" />
                </mat-form-field>
            </div>

        </div>

    <div class="row ">

        <div class="col-md-12  form-group">
            <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Comments"
                       formControlName="BIO_Comments" />
            </mat-form-field>
        </div>
    </div>

    </form>
</div>
